body,html {
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}

/* #left-container {
    float: left;
    width: 20vw;
    margin-left: 5vw;
}

#right-container{
    float: right;
    width: 62vw;
    margin-right: 5vw;
    margin-left: 5vw;
} */

#main-container {
    width: 98vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
}

#left-container {
    width: 25vw;
    margin-right: 2vw;
    float: left;
}

#right-container {
    float: right;
    width: 65vw;
}