body,html {
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}

#main-container {
    width: 98vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
}

#left-container {
    width: 25vw;
    margin-right: 2vw;
    float: left;
}

#right-container {
    float: right;
    width: 65vw;
}

.login-modal {
    z-index: 1049 !important;
}